<?xml version="1.0"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="APP_NAME" value="power-station-core" />
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs" />
    <property name="LOG_FILE" value="${LOG_PATH}/application.log" />
    <property name="APPLICATION_LOG_PATTERN" value="V1.0|%d{yyyy-MM-dd HH:mm:ss:SSS}|%-5p|%X{traceId}|%t|%C{36}|%L|%M|c| - %X{traceId:-} %m%n" />

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--定义日志输出的路径-->
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${APPLICATION_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}[%line] [traceId:%X{traceId:-}] - %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="pre,prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="APPLICATION" />
        </root>
    </springProfile>
    

</configuration>


